.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.sidebar {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }

  .sidebar {
    display: none;
  }
}

.stickySidebar {
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
  height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tocWithFeedback {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem; /* Optional: avoid scrollbar overlap */
}

.feedbackWrapper {
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
  position: relative;
  z-index: 1;
  padding-left: 1rem;
}

.alternateBreadcrumbs {
  :global(nav.theme-doc-breadcrumbs) {
    max-width: var(--lp-section-max-width);
    margin: 0 auto 0.875rem auto !important;
    overflow: hidden;

    :global(.breadcrumbs) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      min-width: fit-content;
    }

    :global(.breadcrumbs__item) {
      display: inline-flex;
      align-items: center;
    }

    :global(.breadcrumbs__link) {
      display: flex;
      align-items: center;
      background-color: transparent;
      font-weight: var(--fw-bold);
      color: var(--color-foreground-slightly-muted);
      padding: 0;
      font-size: var(--fs-text-sm);

      @media (--xs-scr) {
        font-size: var(--fs-text-md);
      }

      @media (--md-scr) {
        font-size: var(--fs-text-lg);
      }

      &::after {
        height: 11px;
        width: 6px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.529259 0.646447C0.724521 0.451184 1.0411 0.451184 1.23637 0.646447L6.23637 5.64645C6.43163 5.84171 6.43163 6.15829 6.23637 6.35355L1.23637 11.3536C1.0411 11.5488 0.724521 11.5488 0.529259 11.3536C0.333997 11.1583 0.333997 10.8417 0.529259 10.6464L5.17571 6L0.529259 1.35355C0.333997 1.15829 0.333997 0.841709 0.529259 0.646447Z' fill='black' fill-opacity='0.72'/%3E%3C/svg%3E");
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.largeColumnPadding {
  padding: var(--m-4) var(--m-2);

  @media (--md-scr) {
    padding: var(--m-4) var(--m-5);
  }
}
