[submodule "content/16.x"]
	path = content/16.x
	url = ssh://git@github.com/gravitational/teleport/
	branch = branch/v16
[submodule "content/17.x"]
	path = content/17.x
	url = ssh://git@github.com/gravitational/teleport/
	branch = branch/v17
[submodule "content/18.x"]
	path = content/18.x
	url = ssh://git@github.com/gravitational/teleport
	branch = branch/v18
[submodule "content/19.x"]
	path = content/19.x
	url = ssh://git@github.com/gravitational/teleport
