:root {
  /* colors */
  --color-page-bg: #f6f8f9;
  --color-dark-purple: #512fc9;
  --color-light-purple: #651fff;
  --color-white: #fff;
  --color-lightest-gray: #f0f2f4;
  --color-lighter-gray: #d2dbdf;
  --color-light-blue: #0091ea;
  --color-light-gray: #b5bec7;
  --color-gray: #607d8b;
  --color-green: #00bfa5;
  --color-red: #f50057;
  --color-dark-gray: #455a64;
  --color-darkest: #37474f;
  --color-black: #000;
  --color-foreground-slightly-muted: rgba(0, 0, 0, 0.72);
  --color-foreground-muted: rgba(0, 0, 0, 0.54);
  --color-foreground-disabled: rgba(0, 0, 0, 0.36);
  --color-foreground-tooltip: rgba(0, 0, 0, 0.8);
  --color-tonal-neutral-0: rgba(0, 0, 0, 0.06);
  --color-tonal-neutral-1: rgba(0, 0, 0, 0.13);
  --color-tonal-neutral-2: rgba(0, 0, 0, 0.18);
  --color-foreground-slightly-muted-white: rgba(255, 255, 255, 0.72);
  --color-foreground-muted-white: rgba(255, 255, 255, 0.54);
  --color-foreground-disabled-white: rgba(255, 255, 255, 0.36);
  --color-foreground-tooltip-white: rgba(255, 255, 255, 0.8);
  --color-tonal-neutral-0-white: rgba(255, 255, 255, 0.06);
  --color-tonal-neutral-1-white: rgba(255, 255, 255, 0.13);
  --color-tonal-neutral-2-white: rgba(255, 255, 255, 0.18);
  --color-tonal-primary-0: rgba(81, 47, 201, 0.1);
  --color-tonal-primary-1: rgba(81, 47, 201, 0.18);
  --color-tonal-primary-2: rgba(81, 47, 201, 0.25);
  --color-interactive-tonal-neutral-dark-0: rgba(255, 255, 255, 0.07);

  --color-interactive-primary: #9f85ff;
  --color-interactive-primary-hover: #4126a1;
  --color-background-depth-2: #fbfbfc;
  --color-data-purple-tertiary: #b9a6ff;
  --color-data-purple-secondary: #6f4ced;
  --color-data-caribbean-tertiary: #2effd5;
  --color-interactive-success-default: #007d6b;
  --color-interactive-success-hover: #006456;
  --color-interactive-danger-default: #cc372d;
  --color-interactive-danger-hover: #a32c24;

  --color-warning: #ffb400;
  --color-danger: #f80061;
  --color-text: #263238;
  --color-code: #0e1435;
  --color-tip: #00c7ae;
  --color-note: #009cf1;

  /* fonts */
  --font-ubunt: "Ubuntu Mono";
  --font-lato: Lato;
  --font-base: Lato, sans-serif;
  --font-body: var(--font-base);
  --font-serif: "Georgia", serif;
  --font-monospace: var(--font-ubunt);

  /* font sizes */
  --fs-text-xs: 10px;
  --fs-text-sm: 12px;
  --fs-text-md: 14px;
  --fs-text-lg: 16px;
  --fs-text-xl: 18px;
  --fs-header-4: 20px;
  --fs-header-3: 24px;
  --fs-header-2: 28px;
  --fs-header-1: 32px;
  --fs-title-lg: 40px;
  --fs-title-md: 36px;

  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* line heights */
  --lh-sm: 16px;
  --lh-md: 24px;
  --lh-lg: 32px;
  --lh-xl: 40px;
  --lh-xxl: 48px;

  /* spacing modules */
  --m-0-5: 4px;
  --m-1: 8px;
  --m-1-5: 12px;
  --m-2: 16px;
  --m-3: 24px;
  --m-4: 32px;
  --m-5: 40px;
  --m-6: 48px;
  --m-7: 56px;
  --m-8: 64px;
  --m-9: 72px;
  --m-10: 80px;

  /* timings */
  --t-fast: 150ms;
  --t-interaction: 300ms;
  --t-shift: 600ms;
  --t-slow: 1200ms;

  /* radii */
  --r-sm: 2px;
  --r-md: 8px;
  --r-lg: 16px;
  --r-default: 4px;
  --r-circle: 99999px;

  /* docusaurus theme */
  --ifm-color-primary: var(--color-dark-purple);
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: var(--color-light-purple);
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-font-family-base: var(--font-base);

  --ifm-navbar-height: 80px;

  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-padding-horizontal: 0;
  --ifm-navbar-shadow: none;

  /* landing page font sizes */
  --lp-header-1: 40px;
  --lp-header-1-5: 36px;
  --lp-header-2: 32px;

  /* max width for landing page sections */
  --lp-section-max-width: 1400px;

  /* consistent spacings between landing page sections */
  --lp-section-padding-lg: 84px;
  --lp-section-padding-md: 80px;
  --lp-section-padding-sm: 32px;

  /* landing page component shadows */
  --lp-box-shadow: 0 5px 20px 0 rgba(19, 19, 19, 0.1);
  --lp-box-shadow-hover: 0 4px 12px rgba(81, 47, 201, 0.15);
  --lp-box-shadow-hover-tag: 0 2px 12px 0 rgba(19, 19, 19, 0.05);
  --lp-box-shadow-button-hover:
    0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
    0 1px 14px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 996px) {
  :root {
    --ifm-navbar-height: 48px;
  }
}
