.landingHero {
  padding: var(--m-4) 0 var(--m-5) 0;
  @media (--md-scr) {
    padding: var(--m-4) 0 var(--m-8) 0;
  }
}

.container {
  width: 100%;
  max-width: var(--lp-section-max-width);
  margin: 0 auto;
}

.mainWrapper {
  border-radius: 12px;
  background-color: #512fc90d;
}

.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  padding: var(--m-2);
  gap: 0.5rem;

  @media (--md-scr) {
    padding: var(--m-4);
    grid-template-columns: minmax(0, 1fr);
    gap: var(--m-4);
  }

  @media (--lg-scr) {
    padding: var(--m-5) var(--m-4);
    grid-template-columns: minmax(0, 55.1%) minmax(0, 44.9%);
  }
}

.exclusivityBanner {
  width: 100%;
  padding: 9px var(--m-2);
  background-color: var(--color-tonal-primary-1);
  color: var(--color-dark-purple);
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  gap: var(--m-1);
  font-size: var(--fs-text-md);
  line-height: 1.57143;

  @media (--md-scr) {
    padding: 9px var(--m-4);
  }

  svg {
    min-width: 20px;
  }

  .exclusivityTitle {
    display: flex;
    align-items: center;
    gap: var(--m-1);
  }

  p {
    margin: 0;
  }

  a {
    font-weight: var(--fw-bold);
    text-decoration: underline;
  }
}

.content {
  .icon {
    display: flex;
    background-color: var(--color-tonal-primary-1);
    padding: 15.75px 15px 13.5px 15px;
    width: max-content;
    border-radius: 12px;
    margin-bottom: var(--m-3);

    svg {
      width: auto;
      height: 18.75px;
      fill: currentColor;
    }
  }

  .title {
    font-size: var(--lp-header-2);
    margin-bottom: var(--m-1) !important;
    line-height: 1.3;
    @media (--md-scr) {
      font-size: var(--lp-header-1-5);
    }
    @media (--lg-scr) {
      font-size: var(--lp-header-1);
    }
  }

  .subTitle {
    font-size: var(--fs-text-xl);
    margin-bottom: var(--m-2);
    color: var(--color-foreground-slightly-muted);
  }

  .description {
    line-height: 1.6667;
    color: var(--color-foreground-slightly-muted);
    font-weight: 500;

    ul {
      padding-left: 1.3em;
      li a {
        &:only-child {
          position: relative;
          display: block;
          padding-left: 0.75em;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.5em;
            width: 20px;
            height: 20px;
            transform: translate(-110%, -0.25em);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.5 12C7.5 11.5858 7.83579 11.25 8.25 11.25H13.9393L12.2197 9.53033C11.9268 9.23744 11.9268 8.76256 12.2197 8.46967C12.5126 8.17678 12.9874 8.17678 13.2803 8.46967L16.2803 11.4697C16.3522 11.5416 16.4065 11.6245 16.4431 11.7129C16.4798 11.8013 16.5 11.8983 16.5 12C16.5 12.1017 16.4798 12.1987 16.4431 12.2871C16.4065 12.3755 16.3522 12.4584 16.2803 12.5303L13.2803 15.5303C12.9874 15.8232 12.5126 15.8232 12.2197 15.5303C11.9268 15.2374 11.9268 14.7626 12.2197 14.4697L13.9393 12.75H8.25C7.83579 12.75 7.5 12.4142 7.5 12Z' fill='%23512FC9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12ZM12 3.75C7.44365 3.75 3.75 7.44365 3.75 12C3.75 16.5563 7.44365 20.25 12 20.25C16.5563 20.25 20.25 16.5563 20.25 12C20.25 7.44365 16.5563 3.75 12 3.75Z' fill='%23512FC9'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-color: #f6f4fc;
          }
        }
      }
    }

    h3 {
      font-size: var(--fs-header-4);
      @media (--md-scr) {
        font-size: var(--fs-header-3);
      }
    }

    h3,
    h4 {
      margin-bottom: var(--m-1);
      color: var(--color-black);
    }

    p > a {
      &:only-child {
        display: block;
        position: relative;
        padding-left: 2em;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.5em;
          width: 20px;
          height: 20px;
          transform: translateY(-0.25em);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.5 12C7.5 11.5858 7.83579 11.25 8.25 11.25H13.9393L12.2197 9.53033C11.9268 9.23744 11.9268 8.76256 12.2197 8.46967C12.5126 8.17678 12.9874 8.17678 13.2803 8.46967L16.2803 11.4697C16.3522 11.5416 16.4065 11.6245 16.4431 11.7129C16.4798 11.8013 16.5 11.8983 16.5 12C16.5 12.1017 16.4798 12.1987 16.4431 12.2871C16.4065 12.3755 16.3522 12.4584 16.2803 12.5303L13.2803 15.5303C12.9874 15.8232 12.5126 15.8232 12.2197 15.5303C11.9268 15.2374 11.9268 14.7626 12.2197 14.4697L13.9393 12.75H8.25C7.83579 12.75 7.5 12.4142 7.5 12Z' fill='%23512FC9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12ZM12 3.75C7.44365 3.75 3.75 7.44365 3.75 12C3.75 16.5563 7.44365 20.25 12 20.25C16.5563 20.25 20.25 16.5563 20.25 12C20.25 7.44365 16.5563 3.75 12 3.75Z' fill='%23512FC9'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-color: #f6f4fc;
        }
      }
    }

    @media (--md-scr) {
      * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.media {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .image,
  .video {
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 12px;
    width: 100%;
    height: auto;
  }
}

.linksTitle {
  font-size: 1.375rem; /* 22px */
  margin-bottom: var(--m-2);
  margin-top: var(--m-3);
  line-height: 1.3;
  grid-column: span 2;

  @media (--md-scr) {
    margin-top: var(--m-5);
    font-size: var(--fs-header-3);
  }
}

.links {
  --desktop-column-count: 2;
  grid-area: links;
  display: grid;
  gap: var(--m-2);
  grid-template-columns: minmax(0, 1fr);
  margin-top: var(--m-2);

  @media (--md-scr) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (--lg-scr) {
    grid-template-columns: repeat(var(--desktop-column-count), 1fr);
  }

  .link {
    padding: var(--m-3);
    border-radius: var(--m-2);
    height: 100%;
    border: 1.5px solid var(--color-tonal-neutral-0);
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:not(.withoutHref) {
      &:hover {
        cursor: pointer;
        background: var(--color-white);
        box-shadow: var(--lp-box-shadow-hover);
        border-color: transparent;
        .linkTitle {
          color: var(--color-dark-purple);
        }
      }
    }

    .linkContent {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--m-1-5);
    }

    .linkTitle {
      font-weight: var(--fw-bold);
      font-size: var(--fs-text-xl);
      color: var(--color-black);
      margin-bottom: unset;
      line-height: 1.5;
      max-width: calc(100% - 24px);
      transition: color 0.2s ease-in-out;

      @media (--md-scr) {
        font-size: var(--fs-header-4);
      }
    }

    .linkDescription {
      font-size: 15.95px;
      margin-bottom: unset;
      color: var(--color-black);
      line-height: 1.625;
    }

    .linkIcon {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
