.useCasesList {
  padding-bottom: var(--m-5);
  background-color: var(--color-white);

  @media (--md-scr) {
    padding-bottom: var(--m-8);
  }

  &.narrowBottomPadding {
    padding-bottom: var(--m-2);
    @media (--md-scr) {
      padding-bottom: var(--m-2);
    }
  }
}

.header {
  &.hasTitle {
    margin-bottom: var(--m-3);
  }
}

.title {
  font-size: 26px;
  margin-bottom: 0;

  @media (--md-scr) {
    font-size: var(--lp-header-2);
  }

  &.docVariant {
    font-size: var(--fs-header-4);
    @media (--md-scr) {
      font-size: 1.375rem; /* 22px */
    }

    @media (--lg-scr) {
      font-size: var(--fs-header-3);
    }
  }
}

.description {
  color: var(--color-foreground-slightly-muted);
  font-size: var(--fs-text-lg);
  line-height: 1.625;
  margin-bottom: 0;
  font-weight: var(--fw-medium);

  @media (--md-scr) {
    line-height: 1.75;
  }

  @media (--lg-scr) {
    font-size: var(--fs-text-xl);
    line-height: 1.66667;
  }
}

.container {
  max-width: var(--lp-section-max-width);
  margin: 0 auto;
}

.items {
  --desktop-column-count: 3;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--m-2);
  grid-template-columns: minmax(0, 1fr);

  @media (--md-scr) {
    grid-template-columns: repeat(
      min(2, var(--desktop-column-count)),
      minmax(0, 1fr)
    );
  }

  @media (--lg-scr) {
    grid-template-columns: repeat(var(--desktop-column-count), minmax(0, 1fr));
  }

  li {
    margin-top: 0 !important;
  }
}

.item {
  display: block;
  padding: var(--m-2) var(--m-3);
  border-radius: 12px;
  border: 1px solid var(--color-tonal-neutral-0);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  height: 100%;

  &.hasTags {
    padding: var(--m-3);
  }

  &.rowLayout {
    @media (--lg-scr) {
      display: grid;
      gap: var(--m-2);
      grid-template-columns: minmax(0, 29.5%) minmax(0, 70.5%);
    }
  }

  h3,
  h4 {
    margin: 0 !important;
    font-weight: var(--fw-bold);
    line-height: 1.5;
    color: var(--color-black);
    font-size: var(--fs-text-xl);
    transition: color 0.2s ease-in-out;

    @media (--md-scr) {
      font-size: var(--fs-header-4);
    }
  }

  .description {
    color: var(--color-foreground-muted);
    margin: 0;
    line-height: 1.625;
    font-size: var(--fs-text-md);

    @media (--md-scr) {
      font-size: var(--fs-text-lg);
    }

    &.docVariant,
    &.hasTags {
      color: var(--color-foreground-slightly-muted);

      @media (--lg-scr) {
        font-size: var(--fs-text-xl);
      }
    }
    &.smallFontSize {
      @media (--lg-scr) {
        font-size: var(--fs-text-lg);
      }
    }
  }
}

a.item:hover {
  text-decoration: none;
  background: var(--color-white);
  box-shadow: var(--lp-box-shadow-hover);
  border-color: rgba(0, 0, 0, 0);
  h3,
  h4 {
    color: var(--color-dark-purple);
  }
}

.tags {
  display: flex;
  gap: var(--m-1);
  flex-wrap: wrap;
  list-style: none;
  padding: 0 !important;
  align-items: center;
  margin-top: var(--m-2);
  transition: all 0.3s ease-out;

  &.rowLayout {
    margin-top: 0;
  }
}

.tagIcon {
  width: var(--m-3);
  height: var(--m-3);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagArrow {
  width: var(--m-2);
  height: var(--m-2);
}

.tag {
  background-color: var(--color-white);
  border: 1px solid var(--color-tonal-neutral-0);
  border-radius: var(--m-1);
  padding: var(--m-1) var(--m-2);
  font-size: var(--fs-text-md);
  display: flex;
  align-items: center;
  gap: var(--m-1);
  color: var(--color-black);
  text-decoration: none;
  font-weight: var(--fw-regular);
  position: relative;
  transition: all 0.3s ease-out;

  &:hover {
    color: var(--color-black);
    text-decoration: none;
    box-shadow: var(--lp-box-shadow-hover-tag);
  }

  @media (--md-scr) {
    font-size: var(--fs-text-lg);
  }
}

.linkTitle {
  color: var(--color-black);
  position: relative;
  display: inline-flex;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.0303%201.19233C10.7374%200.899433%2010.2626%200.899433%209.96967%201.19233C9.67678%201.48522%209.67678%201.96009%209.96967%202.25299L15.4393%207.72266H0.75C0.335786%207.72266%200%208.05844%200%208.47266C0%208.88687%200.335786%209.22266%200.75%209.22266H15.4393L9.96967%2014.6923C9.67678%2014.9852%209.67678%2015.4601%209.96967%2015.753C10.2626%2016.0459%2010.7374%2016.0459%2011.0303%2015.753L17.7803%209.00299C17.9268%208.85654%2018%208.6646%2018%208.47266C18%208.37096%2017.9798%208.274%2017.9431%208.18557C17.9065%208.09711%2017.8522%208.01423%2017.7803%207.94233L11.0303%201.19233Z%22%20fill%3D%22%23512FC9%22%2F%3E%3C%2Fsvg%3E");
    width: 18px;
    height: 15px;
    right: -29px;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.15s ease-in-out;
  }
  &:hover {
    text-decoration: none;
    h3,
    h4 {
      color: var(--color-dark-purple);
    }
    &::after {
      opacity: 1;
    }
  }
}

.expandTagsItem {
  flex-basis: 100%;
  padding-top: var(--m-1);
}

.expandTags {
  padding: var(--m-1) var(--m-3);
  font-size: var(--fs-text-sm);
  color: var(--color-foreground-slightly-muted);
  background-color: var(--color-tonal-neutral-0);
  border: none;
  font-family: var(--font-lato);
  border-radius: var(--m-0-5);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--fw-medium);
  gap: var(--m-1);
  transition: all 0.3s ease-out;

  &::before {
    content: "";
    position: relative;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M6.5 0.5C6.5 0.223858 6.27614 0 6 0C5.72386 0 5.5 0.223858 5.5 0.5V5.5H0.5C0.223858 5.5 0 5.72386 0 6C0 6.27614 0.223858 6.5 0.5 6.5H5.5V11.5C5.5 11.7761 5.72386 12 6 12C6.27614 12 6.5 11.7761 6.5 11.5V6.5H11.5C11.7761 6.5 12 6.27614 12 6C12 5.72386 11.7761 5.5 11.5 5.5H6.5V0.5Z' fill='black' fill-opacity='0.72'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-out;
  }

  &.expanded {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 8C2 7.72386 2.22386 7.5 2.5 7.5H13.5C13.7761 7.5 14 7.72386 14 8C14 8.27614 13.7761 8.5 13.5 8.5H2.5C2.22386 8.5 2 8.27614 2 8Z' fill='black' fill-opacity='0.72'/%3E%3C/svg%3E");
    }
  }
}

.hiddenTag {
  opacity: 0;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition:
    opacity 0.3s ease-out,
    max-height 0.3s ease-out;
  margin-top: -0.5rem;
  pointer-events: none; /* Prevent interaction when hidden */
}

.hiddenTag.visible {
  opacity: 1;
  max-height: max-content;
  max-width: max-content;
  pointer-events: auto; /* Re-enable interactions when visible */
}
